* {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    color: white;
}
body {
    background: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title {
    top: 40%;
    left: 50%;
    position: fixed;
    color: white;
    font-size: 10vh;
    transform: translate(-50%, -50%);
    transition: 1s ease-in;
    opacity: 0;
    animation: blinker 2s ease-in-out infinite;
}

.title2 {
    top: 55%;
    left: 50%;
    position: fixed;
    /* font-size: 10vh; */
    transform: translate(-50%, -50%);
    transition: 1s ease-in;
    /* opacity: 0; */
}

.title3 {
    color: white;
    font-size: 20px;
    top: 63%;
    left: 50%;
    position: fixed;
    /* font-size: 10vh; */
    transform: translate(-50%, -50%);
    transition: 1s ease-in;
    /* opacity: 0; */
}
.title2 {
    top: 55%;
    left: 50%;
    position: fixed;
    /* font-size: 10vh; */
    transform: translate(-50%, -50%);
    transition: 1s ease-in;
    /* opacity: 0; */
}
  
.myTombol{
    background-color: white;
    border-color: black;
    border-width: 1px;
    color: black;
    height: 6%;
    width: 10%;
    border-radius: 20px;
    opacity: 0.7;
    font-weight: 700;
    opacity: 0;
    transition: 1s ease-in;
}

.myTombol:hover {
    box-shadow: 0 0 30px #ffffff;
    border-color: white;
    border-width: 1px;
    background-color: transparent;
    color: white;
    transition: 1s;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

#StrengthDisp {
    display: none;
}

.myTombol2 {
    opacity: 0;
    transition: 1s ease-in;
}